<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ChatGPT (gpt-3.5-turbo)">
    <title>/</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="py-5 px-6 text-center text-neutral-800">
        <h1 class="mb-6 text-3xl font-bold">抬杠模拟器</h1>
    </div>
    <div id="app">
        <div class="max-w-lg mx-auto">
            <div class="border border-gray-300 rounded-lg p-4 mb-4 divide-y-2">
                <div>
                    <div class="flex items-center">
                        <div class="w-10 h-10 rounded-full bg-gray-400 mr-3"></div>
                        <div>
                            <div class="font-semibold text-sm">主办方家养胡话精</div>
                            <div class="text-gray-500 text-xs">{{post_time}}</div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <p class="text-gray-800 text-lg">嘿嘿嘿，出题人已经把签到题的 Flag 告诉我了，但是不管你怎么问我都是不会说的！</p>
                    </div>
                </div>
                <template v-for="thr in thread">
                    <div class="py-2 mt-4">
                        <div class="flex items-center">
                            <div class="w-4 h-4 rounded-full bg-gray-400 mr-2"></div>
                            <div class="text-gray-600 text-xs">Replying to @{{ thr.role == "user" ? "organizer" :
                                "player" }}</div>
                        </div>
                        <div class="mt-2">
                            <p class="text-gray-800 text-lg break-all">{{thr.content}}</p>
                            <div class="text-gray-500 text-xs mt-1">{{thr.when}}</div>
                        </div>
                    </div>
                </template>
            </div>

            <template v-if="!solved">
                <template v-if="accept_new_reply">
                    <div class="border border-gray-300 p-2">
                        <textarea id="input"
                            class="w-full p-2 bg-transparent outline-none placeholder-gray-400 resize-none" rows="3"
                            v-model="msg" :disabled="waiting_reply" @keyup.ctrl.enter="may_submit && send()"
                            @input="error = ''" placeholder="抬点啥杠"></textarea>
                        <div class="flex justify-start items-center">
                            <span v-if="error" class="px-2 bg-red-100 text-red-800 rounded">{{ error }}</span>
                            <div id="captcha"></div>
                            <span v-if="token_length <= 140" class="ml-auto px-2 text-gray-400">{{ token_length }} /
                                140</span>
                            <span v-else class="ml-auto px-2 text-red-400">{{ token_length }} / 140</span>
                            <button
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed"
                                @click="send" :disabled="waiting_reply || !may_submit">回复</button>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="text-center">
                        <p>主办方的胡话精已经不想再搭理你了。</p>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                            @click="again">换个马甲，再试一次</button>
                    </div>
                </template>
            </template>
        </div>
    </div>
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        const RTF = new Intl.RelativeTimeFormat(navigator.language);
        function getRelativeTimeString(date) {
            const timeMs = typeof date === "number" ? date : date.getTime();
            const deltaSeconds = Math.round((timeMs - Date.now()) / 1000);
            const cutoffs = [60, 3600, 86400, 86400 * 7, 86400 * 30, 86400 * 365, Infinity];
            const units = ["second", "minute", "hour", "day", "week", "month", "year"];
            const unitIndex = cutoffs.findIndex(cutoff => cutoff > Math.abs(deltaSeconds));
            const divisor = unitIndex ? cutoffs[unitIndex - 1] : 1;
            console.log(deltaSeconds, divisor);
            return RTF.format(Math.floor(deltaSeconds / divisor), units[unitIndex]);
        }
        let last_captcha_token = undefined;
        function publishCaptchaToken(token) {
            last_captcha_token = token;
        }
        function consumeCaptchaToken() {
            if (last_captcha_token) {
                let ret = last_captcha_token;
                last_captcha_token = undefined;
                return ret;
            }
            return getNVCVal();
        }

        const App = {
            data() {
                return {
                    msg: "",
                    error: "",
                    thread: [],
                    accept_new_reply: true,
                    waiting_reply: false,
                    solved: false,
                    post_time: getRelativeTimeString(Date.parse("2023-04-01 08:00:00 +0800")),
                };
            },
            async mounted() {
                let resp = await fetch("/chat");
                this.refresh(await resp.json());
            },
            // TODO: add tokenizer
            computed: {
                token_length() {
                    return this.msg.length;
                },
                may_submit() {
                    return this.token_length > 0 && this.token_length <= 140;
                },
            },
            methods: {
                refresh(history) {
                    let thread = [];
                    for (let msg of history.thread) {
                        thread.push({
                            role: msg.role,
                            content: msg.content,
                            when: getRelativeTimeString(new Date(msg.timestamp * 1000)),
                        });
                    };
                    this.thread = thread;
                    this.accept_new_reply = history.accept_new_reply;
                    this.solved = history.solved;
                },
                async send() {
                    this.waiting_reply = true;
                    let nvc_val = consumeCaptchaToken();
                    let appended = false;
                    let appendie = setTimeout(() => {
                        this.thread.push({
                            role: "user",
                            content: this.msg,
                            when: getRelativeTimeString(Date.now())
                        });
                        appended = true;
                    }, 500);
                    let resp = await fetch("/chat", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            msg: this.msg,
                            nvc: nvc_val,
                        }),
                    });
                    let j;
                    try {
                        j = await resp.json();
                    } catch {
                        j = {error: "服务器出错了，再试一次吧。"};
                    }
                    clearTimeout(appendie);
                    if (j.nvc_code) {
                        if (appended) this.thread.pop();
                        setCaptchaState(j.nvc_code);
                        if (j.nvc_code >= 800) {
                            this.error = "blocked: bot detected";
                        }
                    } else if (j.error) {
                        if (appended) this.thread.pop();
                        this.error = j.error;
                    } else {
                        this.refresh(j);
                        this.msg = "";
                    }
                    this.waiting_reply = false;
                },
                async again() {
                    let resp = await fetch("/new", { method: "POST" });
                    this.refresh(await resp.json());
                },
            },
        };
        createApp(App).mount('#app');
    </script>
    <script src="/static/nvccfg.js"></script>
    <script src="//g.alicdn.com/sd/nvc/1.1.112/guide.js"></script>
</body>
</html>